*{
    margin:0px;
    padding:0;


}
#home{
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgb(5, 112, 75)),url(MINIPROJECT.png);
    background-size:cover;
    background-position:center;
    height:100vh;
}
.text{
    text-align:center;
    color:#fff;
    padding-top:180px;
}
.text h1{
    font-size: 130px
}
.text p{
    font-size:20px;
    font-style:italic;
}
.start {
    margin:80px auto 0;

    
}
.start a{
    width:150px;
    text-decoration:none;
    display:inline-block;
    margin:30px;
    padding:12px 0;
    color:#fff;
    border:.10px solid #fff;
    border-radius: 25px;
    transition: color 0.5s;

}
.start a:hover{
    color:rgb(0, 0, 0)
  

}
#home2{
    background:linear-gradient(rgba(7, 171, 185, 0.747),rgba(5, 66, 164, 0.907))
}
.gif{
    width: 500px;
    height: 300px;
}
#tagline{
    text-align: center;
    font-style: oblique;
    color: #000000;

}
#know{
    text-align: center;
    text-shadow: 1px 0.5px #000000;
}
#tag1{
    text-align:center;
    padding:20px;
}
#chordate a,#nonchordate a{
    padding:2px;
    color:#000000;
    text-decoration: none;
    transition: color 0.2s;
}
#chordate,#nonchordate{
    background: none;
    border-radius: 10px;
    padding:2px;
    text-shadow: 1px 1px #000000;
    border-color: #fff;

}
#nonchordate a:hover{
    color:#fff;

}
#chordate a:hover{
    color: #fff;

}
#up,#down{
    text-align: center;
    margin:10px;

}
#fintage{
    width:53lh;
    text-align:center;

}
#sift{
    background-color: rgba(51, 254, 0, 0.508);
}
#naruto{
    margin:10px;
}
#head{
    text-align: center;
    padding:10px;
    text-shadow: 0px 1px #000000;
}
#home3{
    margin:20px;
    font-family:'Lucida Sans' ;

}
#sea,#sor,#madara{
    border-radius: 10px;
    padding:2px;
    text-shadow: 0px 1px #000000;
    border-color: #fff;
}
.fix{
    border-radius: 10px;
    padding:2px;
    text-shadow: 0px 1px #000000;
}
#sft{
    background-color: rgba(34, 0, 254, 0.508);
}
.fun{
    font-family: 'Lucida Sans';
}
.padin{
    margin:2px;
}
